* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
body {
	background-color: #F4E7DE;
}
main {
	width: 1022px;
	height: 662px;
	top: 28px;
	left: 209px;
	background-color: #F9F9F9;
	border-radius: 27px;
}
main h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    display: flex;
    font-weight: bold;
    align-items: center;
    position: absolute;
    top: 104px;
    left: 96px;
}
main p {
    width: 254px;
    height: 21px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #939191;
    display:flex;
    align-items: center;
    position: absolute;
    top: 132px;
    left: 96px;
}
content {
    width: 418px;
    height: 331px;
    position: absolute;
    top: 169px;
    left: 96px;
    border: 1px solid #F9F9F9;
    border-radius: 23px 23px 0 0;
    background-color: #FFFFFF;
}
 li h2 {
    padding: 10px 24px;
    width: 113px;
    font-size: 22px;
    line-height: 26px;
    color: #3B3B3B;
    
}
menu {
	width: 46px;
	height: 392px;
	top: 132px;
	left: 187px;
	border-radius: 20px;
	background-color: #FE7770;
}
ul li {
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid #F4E7DE;
    height: 52px;
}
ul li.radius {
    border-radius: 23px 23px 0 0;
    height: 46px;
    
}
main, menu, img.ellipse, img.vector, img.ellipse2, 
img.Eng, img.ellipse3, img.vector2, img.ellipse4, img.vector3 {

    position: absolute;
}
img.ellipse, img.ellipse2, img.ellipse3, img.ellipse4 {
    width: 32px;
	height: 32px;
}
img.ellipse {
	top: 15px;
	left: 7px;
}
img.vector {
	width: 8.32px;
	height: 13.98px;
	top: 24px;
	left: 18.84px;
}
img.ellipse2 {
    top: 58px;
    left: 7px;
}
img.Eng {
    width: 17px;
    height: 12px;
    top: 68px;
    left: 14px;
}
img.ellipse3 {
    top: 96px;
    left: 7px;
}
img.vector2 {
    width: 20px;
    height: 20px;
    top: 102px;
    left: 13px;
}
img.ellipse4 {
    top: 350px;
    left: 7px;
}
img.vector3 {
    width: 16px;
    height: 20px;
    top: 356px;
    left: 15px;
}